streamlit==1.38.0
crewai==0.76.0
litellm==1.48.7
duckduckgo-search==6.3.0
textstat==0.7.4
nltk==3.9.1
beautifulsoup4==4.12.3
pyngrok==7.2.0
requests==2.32.3
langchain==0.3.3
markdown==3.7.0
